<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-0,5"></div>
    <div class="col-lg-10">
        <ul>
            <li><h2>Estudio 1 -  2019</h2></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quos qui culpa quidem perspiciatis nihil. Modi molestias ut minima atque error nostrum veritatis, voluptas ipsa, eius neque totam, eligendi voluptates!</p>
            <li><h2>Estudio 2 - 2021-2022</h2></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam hic porro officiis! Aperiam beatae, est modi sunt hic saepe asperiores? Blanditiis animi ut amet iusto delectus repellendus doloremque odio omnis.</p>
       </ul>
        
    </div>
    <div class="col-lg-0,5"></div>

</div>
