<div class="contenedor">
    <div class="logo">
        <img src="../../../assets/APLogo-20-20.png" id="logoAP" class="img-fluid">
    </div>
    <div class="redes">
        <a href="https://www.instagram.com/camilaguglielmino/"><img src="../../../assets/instagram.png" id="ig" class="img-fluid"></a>
        <a href="https://www.linkedin.com/in/camila-guglielmino-abb90a20a/"><img src="../../../assets/linkedin.png" id="link" class="img-fluid"></a>
        <a href="https://github.com/CamilaGuglielmino"><img src="../../../assets/github.png" id="gib" class="img-fluid"></a>
        <a href="https://twitter.com/Cammm96"><img src="../../../assets/twitter.png" id="tw" class="img-fluid"></a>
        <button type="button" class="btn btn-outline-light">Ingreso</button>
    
    </div>
</div>
